<div data-aos="fade-up">
<h1 class="dashboard">Dashboard</h1>
<div class="card-container">
<div class="card " style="width: 18rem;">
  <img src="member.jpg" class="card-img-top h-50" alt="...">
  <div class="card-body">
    <h5 class="card-title mt-2">Members</h5>
    <p class="card-text">Manage library members' profiles, borrowing history, and active book checkouts.</p>
    <button type="button" class="btn btn-primary" routerLink="/dashboard/members">Show</button>
  </div>
</div>
<div class="card " style="width: 18rem;">
  <img src="book.jpg" class="card-img-top h-50" alt="...">
  <div class="card-body">
    <h5 class="card-title">Books</h5>
    <p class="card-text">Browse a vast book collection by title, author, category, or genre for variety</p>
    <button type="button" class="btn btn-primary" routerLink="/dashboard/books">Show</button>
  </div>
</div>

<div class="card  " style="width: 18rem;">
  <img src="author.jpg" class="card-img-top h-50" alt="...">
  <div class="card-body">
    <h5 class="card-title">Authors</h5>
    <p class="card-text">Discover a variety of authors, explore their profiles, and dive into their unique literary contributions.</p>
    <button type="button" class="btn btn-primary" routerLink="/dashboard/authors">Show</button>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="bookL.jpg" class="card-img-top h-50" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lending & Return</h5>
    <p class="card-text">Manage book lending and return processes, ensuring efficient book management</p>
    <button type="button" class="btn btn-primary" routerLink="/dashboard/lending">Show</button>
  </div>
</div>
</div>
</div>

