<div data-aos="fade-up">
<header class="p-3 text-bg rounded-bottom-4">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2 " width="65" height="65" id="logo">
          <image href="logo4.png" width="80" height="80" class="logo"/>
      </svg>
      </a>

      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <h1 class="text-white m-1">Booknest</h1><br>
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" routerLink="home" >Home</button>
        <button type="button" class="btn btn-outline-light me-2" routerLink="login-page">Sign-in</button>
        <button type="button" class="btn btn-outline-light me-2" routerLink="signin-page">Sign-up</button>
      </div>
    </div>
  </div>
</header>
</div>


