<div class="p-6">
    <div class="flex justify-between items-center mb-4">
      <div>
        <h1 class="text-xl font-semibold text-gray-900 ">Members</h1>
        <p class="text-sm text-gray-600">A comprehensive list of library members, displaying their name, membership type, email, and activity status</p>
      </div>
      <button class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition-colors" data-bs-toggle="modal" data-bs-target="#exampleModal">        Add Member
      </button>
    </div>
    <!-- Table -->
    <div class="m-5">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Count</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Member ID</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Name</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Email</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Phone No.</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Address</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Join Date</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Edit</th>
            <th class="py-3 text-left text-sm font-medium text-gray-900">Delete</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr >
            <td class="py-4 text-sm text-gray-600"></td>
            <td class="py-4 text-sm text-gray-600"></td>
            <td class="py-4 text-sm font-medium text-gray-900"></td>
            <td class="py-4 text-sm text-gray-600"></td>
            <td class="py-4 text-sm text-gray-600"></td>
            <td class="py-4 text-sm text-gray-600"></td>
            <td class="py-4 text-sm text-gray-600"></td>
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateModal" ><i class="bi bi-pencil-square"></i></button></td>
            <td> <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill" ></i></button></td>
          </tr>
          <!-- Repeat similar structure for other rows -->
        </tbody>
      </table>
    </div>
  </div>
