<div data-aos="fade-up">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="6607.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">BookNest: Your Digital Library Solution</h1>
        <p class="lead">Easily organize, manage, and access books with BookNest, the smart library management system. Featuring user-friendly organization, powerful search tools, and seamless integration for libraries of all sizes.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="login-page">Get Start</button>
        </div>
      </div>
    </div>
  </div>
</div>